body {
  font-family: "Work Sans", sans-serif;
  background: #0f0f0f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h1 {
  color: #5434a8;
}

.player-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}
#player-info,
#enemy-info {
  background: #1a1a1a;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  border: 1px solid #333;
}
#player-info h2,
#enemy-info h2 {
  margin-bottom: 10px;
  color: #d72638;
}
button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #d72638;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #ff3b4f;
  transform: scale(1.05);
}

#log {
  width: 400px;
  height: 200px;
  overflow-y: auto;
  background: #111;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

#log p {
  margin: 5px 0;
  font-size: 14px;
  color: #ccc;
}
